@import "tailwindcss";

body {
  @apply bg-black text-[#0aff9d] font-mono;
  text-shadow: 0 0 4px #0aff9d88;
}

a {
  @apply text-[#0aff9d] no-underline;
}

a:hover {
  @apply text-[#19ffb5];
}

::selection {
  background: #00ffaa44;
}
